@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,500,700&display=swap');

:root {
	--ntext: 15px/20px IBM Plex Sans;
	--lgrey: rgb(243, 243, 243);
	--blue: rgb(104, 172, 225);
	--purple: rgb(141, 134, 252);
	--green: rgb(109, 222, 210);
	--red: rgb(235, 139, 140);
	--yellow: rgb(232, 179, 128);
	/* Enter variable to tcol which is theme colour */
	--tcol: var(--blue);
}

@media (max-width: 1024px) {
	:root {
		--ntext: 15px/18px IBM Plex Sans;
	}
	
	.tool-container .tool-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.under-container .under-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.down-section .down-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.under-grid .tool-under-image {
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
	}
	
	.tool-card-image {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.f-deck-image {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.under-grid .tool-understand {
		padding: 20px;
	}
	
	.under-grid .tool-steps ol {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.f-container .f-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.f-grid .f-intro-text {
		grid-column-start: 1;
		grid-column-end: 2;
	}
}
	
body {
	width: 100%;
	margin: 0;
}

.linkin {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	color: var(--tcol);
	padding: 20px;
}

.header-section {
	width: 100%;
	margin: 0;
	top: 0;
	background: rgb(47, 96, 207);
	padding: 0;
}

.header-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	align-content: center;
	align-items: center;
}

.header-container h1 a {
	text-decoration: none;
	color: white;
}

.header-container h1 {
	margin: 0;
	font: 20px/22px IBM Plex Sans;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

.header-link {
	padding: 0;
	margin: 0;
}

.tool-container {
	width: 100%;
	margin: 0;
}

.tool-section {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.tool-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 100px;
	margin-top: 50px;
}

.tool-name {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	display: block;
}

.tool-name-text {
	margin: 0 0 30px 0;
}

.tool-name-text h3 {
	font: 15px/20px IBM Plex Sans;
	font-weight: 300;
	margin: 0 0 5px 0;
	letter-spacing: 1px;
}

.tool-name-text h3 span {
	font-weight: 700;
}

.tool-name-text h1 {
	font: 60px/65px IBM Plex Sans;
	font-weight: 700;
	letter-spacing: -0.9px;
	margin: 10px 0 35px 0;
	color: var(--tcol);
}

.tool-name-text .line {
	background: black;
	width: 100%;
	height: 5px;
	color: black;
	margin: 0 0 10px 0;
}

.tool-name-text p {
	font: var(--ntext);
	font-weight: 500;
	padding: 5px 15px 5px 15px;
	display: inline;
	background: black;
	color: white;
}

.tool-about {
	margin-bottom: 30px;
}

.tool-about p {
	font: var(--ntext);
	font-weight: 300;
	margin: 0;
}

.tool-about h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	color: var(--tcol);
}

.tool-about ul {
	font: var(--ntext);
	font-weight: 300;
	margin: 0;
	padding: 0px 20px 0px 20px;
}

.tool-about li {
	margin-bottom: 1em;
}

.tool-use-case {
	margin-bottom: 30px;
}

.tool-use-case h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	color: var(--tcol);
}

.tool-use-case ul {
	margin: 0;
	padding: 0px 20px 0px 20px;
}

.tool-use-case li {
	font: var(--ntext);
	font-weight: 300;
	margin-bottom: 1em;
}

.tool-use-case li span {
	font-weight: 700;
}

.tool-limitations {
	margin-bottom: 30px;
}

.tool-limitations p {
	font: var(--ntext);
	font-weight: 300;
	margin: 0;
}

.tool-limitations h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	color: var(--tcol);
}

.under-section {
	width: 100%;
	background: var(--tcol);
	padding: 20px 0 20px 0;
}

.under-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.under-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 4px;
	padding: 30px 0 30px 0;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.tool-under-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	/*padding: 15px;*/
	/*text-align: center;*/
}

.tool-under-image img {
	width: 90%;
	margin: 5px;
	margin: auto;
	border-radius: 4px;
}

.tool-image-illustration {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
}

.tool-image-illustration img {
	width: 90%;
	margin: 5px;
	margin: auto;
	text-align: center;
	transition: transform .2s;
}

.tool-image-illustration img:hover {
	transform: scale(1.2);
}

.down-section {
	width: 100%;
	padding-bottom: 50px;
	background: var(--lgrey);
}

.down-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.down-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 4px;
	padding: 30px 0 40px 0;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.pres-down-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 30px 0 40px 0;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.tool-steps {
	border-radius: 4px;
	margin: 30px 4px 30px 4px;
	padding: 30px;
	grid-column-start: 1;
	grid-column-end: 3;
	background: white;
}

.tool-step-grid {
	display: block;
	width: 100%;
	padding: 0px;
	color: black;
}

.tool-step-segment-title {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	grid-column-start: 1;
	grid-column-end: 4;
}

.tool-steps ol {
	font: var(--ntext);
	font-weight: 300;
	margin: 0;
	padding: 0px 20px 0px 20px;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.tool-steps li {
	margin: 1em;
	/*color: var(--tcol);*/
	color: black;
}

.tool-steps li span {
	font-weight: 700;
	color: var(--tcol);
}

.tool-step-segment-title {
	grid-column-start: 1;
	grid-column-end: 5;
	padding: 0 15px 0 15px;
}

.tool-step-segment-title h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: var(--tcol);
}

.tool-step-segment {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	font: var(--ntext);
	font-weight: 300;
	color: black;
}

.tool-step-segment span {
	font-weight: 700;
	color: var(--tcol);
}

.tool-card-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	text-align: center;
}

.f-deck-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	text-align: center;
}

.f-deck-image img {
	width: 100%;
}

.tool-card-image img {
	width: 100%;
}

.tool-understand {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px 20px 20px 0px;
	background: var(--tcol);
}

.tool-understand h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: white;
}

.tool-understand ul {
	font: var(--ntext);
	color: white;
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.tool-understand li {
	margin-bottom: 1em;
}

.tool-understand ul span {
	font-weight: 700;
}

.tool-download {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.download-buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.header-button {
	font: 15px/20px IBM Plex Sans;
	font-weight: 700;
	color: black;
	text-decoration: none;
	padding: 10px 28px;
	border-radius: 10px;
	border: none;
	background: rgb(240, 240, 240);
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.header-button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background: white;
	cursor: pointer;
}

.download-button {
	font: 15px/20px IBM Plex Sans;
	font-weight: 700;
	color: black;
	text-decoration: none;
	padding: 10px 28px;
	border-radius: 10px;
	border: none;
	background: var(--tcol);
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
	margin-top: 30px;
}

.download-button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background: white;
	cursor: pointer;
}

.f-section {
	width: 100%;
	background: rgb(22, 50, 116);
	/*padding-bottom: 80px;*/
	padding: 20px 0 50px 0;
}
	
	/* use 100vh */

.f-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.f-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 4px;
	padding: 30px 0 40px 0;
}

.f-intro-text {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 30px 0 30px 0;
	padding: 10px;
}

.f-intro-text  h2 {
	font: 45px/48px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	text-align: center;
	color: white;
}

.f-intro-text .line {
	background: black;
	width: 100%;
	height: 5px;
	color: black;
	margin: 0 0 5px 0;
}

.f-how-to {
	border-radius: 4px;
	margin: 20px 10px 20px 10px;
	padding: 40px;
	background: var(--tcol);
}

.f-how-to h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: white;
}

.f-how-to ol {
	font: var(--ntext);
	font-weight: 300;
	padding: 0px 20px 0px 20px;
	color: white;
}

.f-how-to ol li {
	margin-bottom: 1em;
}

.f-how-to ol span {
	font-weight: 700;
}

.f-question-bank {
	border-radius: 4px;
	margin: 20px 10px 20px 10px;
	padding: 40px;
	background: var(--lgrey);
}

.f-question-bank h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: var(--tcol);
}

.f-question-bank ul {
	font: var(--ntext);
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.f-question-bank li {
	margin-bottom: 1em;
}

