@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,700&display=swap');

:root {
	--ntext: 15px/18px IBM Plex Sans;
	--lgrey: rgb(243, 243, 243);
	--default: rgb(47, 96, 207);
	--blue: rgb(104, 172, 225);
	--purple: rgb(141, 134, 252);
	--green: rgb(109, 222, 210);
	--red: rgb(235, 139, 140);
	--yellow: rgb(232, 179, 128);
	  --mainColor: #ff9800;
}

@media (max-width: 1024px) {
	.tool-container .tool-phase-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.playlist-container .playlist-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.playlist-grid .playlist-text {
		grid-column-start: 1;
		grid-column-end: 4;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0;
}

.header-section {
	width: 100%;
	margin: 0;
	top: 0;
	background: rgb(47, 96, 207);
}

.header-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	align-content: center;
	align-items: center;
}

.header-container h1 {
	text-decoration: none;
	color: white;
}

.header-container h1 {
	margin: 0;
	font: 20px/22px IBM Plex Sans;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

.header-links a {
	font-family: IBM Plex Sans;
	font-weight: 400;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: var(--lblue);
	border-radius: 4px;
	background: white;
	padding: 5px 10px 5px 10px;
}

.playlist-section {
	width: 100%;
	margin-top: 100px;
}

.playlist-container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.playlist-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.playlist-text {
	background: var(--lgrey);
	padding: 20px;
	margin: 2px;
	border-radius: 4px;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
}

.playlist-text h2 {
	font: 30px/34px IBM Plex Sans;
	font-weight: 700;
}

.playlist-text p {
	font: 15px/18px IBM Plex Sans;
	font-weight: 300;	
}


.playlist {
	background: var(--default);
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 2px;
	border-radius: 4px;
	grid-column-start: 2;
	grid-column-end: 4;
}

.playlist-desc {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.playlist-desc-text h2 {
	font: 18px/22px IBM Plex Sans;
	font-weight: 500;
	color: white;
}

.playlist-desc-text p {
	font: 15px/18px IBM Plex Sans;
	font-weight: 300;
	color: white;
}

.playlist-desc span {
	font-weight: 500;
}

.playlist-links {
	margin: 5px;
}

.playlist-links h3{
	font: 18px/22px IBM Plex Sans;
	font-weight: 500;
	color: white;
}

.playlist-links ol {
	font: 15px/18px IBM Plex Sans;
	font-weight: 300;
	color: white;
}

button {
	width: 200px;
	height: 40px;
	border-radius: 50px;
	background: white;
	font: 12px/16px IBM Plex Sans;
	font-weight: 700;
	color: black;
	text-decoration: none;
}

.about-section {
	width: 100%;
}

.about-container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.about-text {
	width: 60%;
}

.about-text h1 {
	font-family: IBM Plex Sans;
	font-weight: 500;
	text-decoration: underline;
}

.about-text p {
	font-family: IBM Plex Sans;
	font-weight: 300;
}

.tool-section {
	width: 100%;
}

.tool-section.one {
	background-color: var(--blue);
	margin-top: 80px;
}

.tool-section.two {
	background-color: var(--purple);
}

.tool-section.three {
	background-color: var(--green);
}

.tool-section.four {
	background-color: var(--red);
}

.tool-section.five {
	background-color: var(--yellow);
}

.tool-container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.tool-grid {
	width: 100%;
}

.tool-text {
	width: 60%;
	/*margin-bottom: 10px;*/
}

.tool-text h1 {
	font-family: IBM Plex Sans;
	font-weight: 500;
	text-decoration: underline;
}

.tool-text p {
	font-family: IBM Plex Sans;
	font-weight: 300;
}



.tool-phase {
	width: 100%;
	margin-bottom: 0px;
	align-items: center;
	align-content: center;
	display: block;
	justify-content: center;
	border-radius: 4px;
	padding: 40px 0 70px 0;
}

.tool-phase-text {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin: 0 0 4px 0;
	color: white;
}

.tool-phase-text p {
	grid-column-start: 2;
	grid-column-end: 4;
	font-family: IBM Plex Sans;
	font-weight: 300;
	font-size: 15px;
	padding: 10px;
}

.tool-phase-text h1 {
font: 28px/30px IBM Plex Sans;
	font-weight: 700;
	padding: 15px;
}

.tool-phase-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: white;
	border-radius: 4px;
	/*padding: 5px;*/
}

.tool-phase-grid.one a {
	background:
	   linear-gradient(
	     to bottom, var(--blue) 0%,
	     var(--blue) 100%
	   );
	  background-position: 0 100%;
	  background-repeat: repeat-x;
	  background-size: 3px 3px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
}

.tool-phase-grid.one a:hover {
	  background-size: 4px 50px;
}

.tool-phase-grid.one h2 {
	color: var(--blue);
}

.tool-phase-grid.two a {
	background:
	   linear-gradient(
	     to bottom, var(--purple) 0%,
	     var(--purple) 100%
	   );
	  background-position: 0 100%;
	  background-repeat: repeat-x;
	  background-size: 3px 3px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
}

.tool-phase-grid.two a:hover {
	  background-size: 4px 50px;
}

.tool-phase-grid.two h2 {
	color: var(--purple);
}

.tool-phase-grid.three a {
	background:
	   linear-gradient(
	     to bottom, var(--green) 0%,
	     var(--green) 100%
	   );
	  background-position: 0 100%;
	  background-repeat: repeat-x;
	  background-size: 3px 3px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
}

.tool-phase-grid.three a:hover {
	  background-size: 4px 50px;
}

.tool-phase-grid.three h2 {
	color: var(--green);
}

.tool-phase-grid.four a {
	color: var(--purple);
	background:
	   linear-gradient(
	     to bottom, var(--red) 0%,
	     var(--red) 100%
	   );
	  background-position: 0 100%;
	  background-repeat: repeat-x;
	  background-size: 3px 3px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
}

.tool-phase-grid.four a:hover {
	  background-size: 4px 50px;
}

.tool-phase-grid.four h2 {
	color: var(--red);
}

.tool-phase-grid.five a {
	color: var(--yellow);
}

.tool-phase-grid.five h2 {
	color: var(--yellow);
}

.tool {
	padding: 15px;
	margin: 4px;
}

.tool h2 {
	font: 20px/22px IBM Plex Sans;
	font-weight: 500;
	margin: 0;
	color: white;
}

.tool a {
	font-family: IBM Plex Sans;
	font-weight: 300;
	margin: 0;
	text-decoration: underline;
}
