@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,700&display=swap');

:root {
	--ntext: 15px/18px IBM Plex Sans;
}

@media (max-width: 1024px) {
	:root {
		--ntext: 12px/15px IBM Plex Sans;
	}
}

body {
	width: 100%;
	margin: 0;
}

.header-section {
	width: 100%;
	margin: 0;
	top: 0;
	background-color: rgb(47, 96, 207);
}

.header-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	align-content: center;
	align-items: center;
}

.header-container h1 a {
	text-decoration: none;
	color: white;
}

.header-container h1 {
	margin: 0;
	font: 20px/22px IBM Plex Sans;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

.header-links a {
	font-family: IBM Plex Sans;
	font-weight: 400;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: white;
}

.tool-container {
	width: 100%;
	margin: 0;
}

.tool-section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.tool-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 100px;
	margin-top: 50px;
}

.tool-name {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.tool-name-text {
	margin: 0 0 30px 0;
}

.tool-name-text h3 {
	font: 20px/26px IBM Plex Sans;
	font-weight: 700;
	margin: 0 0 5px 0;
	letter-spacing: 1px;
}

.tool-name-text h1 {
	font: 70px/75px IBM Plex Sans;
	font-weight: 700;
	letter-spacing: -0.9px;
	margin: 10px 0 35px 0;
	color: rgb(47,	96, 207);
}

.tool-name-text .line {
	background: black;
	width: 100%;
	height: 5px;
	color: black;
	margin: 0 0 10px 0;
}

.tool-name-text p {
	/*font: 15px/18px IBM Plex Sans;*/
	font: var(--ntext);
	font-weight: 500;
	padding: 5px 15px 5px 15px;
	display: inline;
	background: black;
	color: white;
}

.tool-about {
	margin-bottom: 20px;
}

.tool-about p {
	font: var(--ntext);
	font-weight: 300;
	margin: 0;
}

.tool-about h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	color: rgb(47, 96, 207);
}

.tool-about ul {
	font: var(--ntext);
	font-weight: 300;
	margin: 0;
	padding: 0px 20px 0px 20px;
}

.tool-about li {
	margin-bottom: 1em;
}

.tool-limitations {
	/*border-radius: 4px;*/
	/*margin: 10px 4px 10px 4px;*/
	padding: 20px;
	background: rgb(22, 50, 116);
	
	/*background-color
	: salmon;*/
	position: absolute;
	bottom: 0;
}

.tool-limitations h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: white;
	margin: 0;
}

.tool-limitations p {
	font: var(--ntext);
	font-weight: 300;
	color: white;
	margin: 0;
}

.tool-example-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	/*background-color: salmon;*/
	text-align: center;
}

.tool-example-image-big img {
	width: 90%;
	margin: 5px;
	margin: auto;
	align-content: center;
	align-items: center;
	justify-content: center;
	/*padding: 10px;*/
}

.tool-example-image-small {
border-radius: 4px;
margin: 10px 4px 10px 4px;
padding: 15px;
display: flex;
flex-direction: column;
position: relative;
}

.tool-example-image-small img {
	width: 90%;
	margin: 5px;
	margin: auto;
	align-content: center;
	align-items: center;
	justify-content: center;
	/*padding: 10px;*/
}

.tool-use-case {
	/*padding: 15px;*/
}

.tool-use-case h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	color: rgb(47, 96, 207);
}

.tool-use-case ul {
	margin: 0;
	padding: 0px 20px 0px 20px;
}

.tool-use-case li {
	font: var(--ntext);
	font-weight: 300;
	margin-bottom: 1em;
}

.tool-use-case li span {
	font-weight: 700;
}

.tool-steps {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	background: rgb(243, 243, 243);
	grid-column-start: 1;
	grid-column-end: 3;
}

.tool-steps h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: rgb(47, 96, 207);
}

.tool-steps ol {
	font: var(--ntext);
	font-weight: 300;
	margin: 0;
	padding: 0px 20px 0px 20px;
}

.tool-steps li {
	margin-bottom: 1em;
}

.tool-steps li span {
	font-weight: 700;
	color: rgb(47, 96, 207);
}

.tool-step-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	padding: 0px;
}

.tool-step-segment-title {
	grid-column-start: 1;
	grid-column-end: 5;
	/*margin: 0 4px 0 4px;*/
	padding: 0 15px 0 15px;
}

.tool-step-segment {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	font: var(--ntext);
	font-weight: 300;
	
	/*background: salmon;*/
}

.tool-step-segment span {
	font-weight: 700;
	color: rgb(47, 96, 207);
}

.tool-small-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	/*background-color: salmon;*/
	text-align: center;
}

.tool-small-image img {
	width: 100%;
}

.tool-understand {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	background: rgb(47,	96, 207);
}

.tool-understand h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: white;
}

.tool-understand ul {
	font: var(--ntext);
	color: white;
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.tool-understand li {
	margin-bottom: 1em;
}

.tool-understand ul span {
	font-weight: 700;
}

.tool-card-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	/*background-color: salmon;*/
	text-align: center;
}

.tool-card-image img {
	width: 90%;
}

.tool-download {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.download-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
button {
	width: 250px;
	height: 50px;
	border-radius: 50px;
	background: rgb(47,	96, 207);
	font: 15px/18px IBM Plex Sans;
	font-weight: 700;
	color: white;
	text-decoration: none;
	
}

.f-section {
	width: 100%;
	background: rgb(22, 50, 116);
		padding-bottom: 80px;	
}

/* use 100vh */

.f-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.f-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: rgb(47,	96, 207, 0.0);
	border-radius: 4px;
	padding: 30px 0 40px 0;
}

.f-intro-text {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 30px 0 30px 0;
	padding: 10px;
}

.f-intro-text  h2 {
	font: 45px/38px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	text-align: center;
color: white;
}

.f-intro-text .line {
	background: black;
	width: 100%;
	height: 5px;
	color: black;
	margin: 0 0 5px 0;
}

.f-how-to {
	border-radius: 4px;
	margin: 20px 10px 20px 10px;
	padding: 20px;
	background: rgb(47,	96, 207);
}

.f-how-to h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: white;
}

.f-how-to ol {
	font: var(--ntext);
	font-weight: 300;
	padding: 0px 20px 0px 20px;
	color: white;
}

.f-how-to ol li {
	margin-bottom: 1em;
}

.f-how-to ol span {
	font-weight: 700;
}

.f-question-bank {
	border-radius: 4px;
	margin: 20px 10px 20px 10px;
	padding: 20px;
	background: rgb(243, 243, 243);
}

.f-question-bank h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: rgb(47, 96, 207);
}

.f-question-bank ul {
	font: var(--ntext);
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.f-question-bank li {
	margin-bottom: 1em;
}

.reference-section {
	border-radius: 4px;
	margin: 20px 10px 20px 10px;
	padding: 20px;
	background: rgb(243, 243, 243);
	grid-column-start: 1;
	grid-column-end: 3;
}
.reference-section h2 {
	font: 18px/24px IBM Plex Sans;
	font-weight: 700;
	color: rgb(47, 96, 207);
}

.reference-section ul {
	font: var(--ntext);
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.reference-section li {
	margin-bottom: 1em;
}



/*22	50	116	*/
