@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,700&display=swap');

body {
	width: 100%;
	margin: 0;
}

.header-section {
	width: 100%;
	margin: 0;
	top: 0;
	background-color: rgba(201, 201, 201, 0.65);
}

.header-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	align-content: center;
	align-items: center;
}

.header-container h1 a {
	text-decoration: none;
	color: black;
}

.header-container h1 {
	margin: 0;
	font-family: IBM Plex Sans;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

.header-links a {
	font-family: IBM Plex Sans;
	font-weight: 400;
	margin-left: 10px;
	margin-right: 10px;
}

.tool-container {
	width: 100%;
	margin: 0;
}

.tool-section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.tool-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 100px;
	margin-top: 50px;

	/*background: rgb(200, 200, 200, 0.3);*/
}

.tool-name {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*background-color: salmon;*/
}

.tool-name h3 {
	font: 18px/30px IBM Plex Sans;
	font-weight: 500;
	margin: 0;
	padding: 10px;
	letter-spacing: 1px
}

.tool-name h2 {
	font: 50px/58px IBM Plex Sans;
	font-weight: 700;
	margin: 0;
	/*padding: 10px;*/
	letter-spacing: -0.7px
}

.tool-name p {
	font: 14px/19px IBM Plex Sans;
	font-weight: 300;
	/*margin: 0;*/
}

.tool-example-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	/*background-color: salmon;*/
	text-align: center;
}

.tool-example-image img {
	width: 90%;
	margin: 5px;
	margin: auto;
	align-content: center;
	align-items: center;
	justify-content: center;
	/*padding: 10px;*/
}

.tool-use-case {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	background: rgb(243, 243, 243);
}

.tool-use-case h2 {
	font-family: IBM Plex Sans;
	font-weight: 700;
	font-size: 23px;
}

.tool-use-case ul {
	font: 14px/19px IBM Plex Sans;
	font-weight: 300;
	margin: 0;
	padding: 0px 20px 0px 20px;
}

.tool-use-case li {
		margin-bottom: 1em;
}

.tool-limitations {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	background: rgb(39, 68, 152);
	/*background-color
	: salmon;*/
}

.tool-limitations h2 {
	font-family: IBM Plex Sans;
	font-weight: 700;
	font-size: 22px;
	color: white;
}

.tool-limitations p {
	font: 14px/19px IBM Plex Sans;
	font-weight: 300;
	color: white;
}

.tool-small-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	/*background-color: salmon;*/
	text-align: center;
}

.tool-small-image img {
	width: 100%;
}

.tool-understand {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	background: rgb(47,	96, 207);
}

.tool-understand h2 {
	font-family: IBM Plex Sans;
	font-weight: 700;
	font-size: 22px;
	color: white;
}

.tool-understand ul {
	font: 14px/19px IBM Plex Sans;
	color: white;
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.tool-understand li {
		margin-bottom: 1em;
}

.tool-understand ul span {
		font-weight: 700;
}

.tool-card-image {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	/*background-color: salmon;*/
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

.tool-card-image img {
	width: 100%;
}

.tool-download {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 15px;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
}

.tool-download button {
	
}

.f-how-to {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	background: rgb(47,	96, 207);
}

.f-how-to h2 {
	font-family: IBM Plex Sans;
	font-weight: 700;
	font-size: 22px;
	color: white;
}

.f-how-to ol {
	font: 14px/19px IBM Plex Sans;
	font-weight: 300;
	padding: 0px 20px 0px 20px;
	color: white;
	
	
}

.f-how-to ol li {
	margin-bottom: 1em;
}


.f-how-to ol span {
		font-weight: 700;
		
}

.f-question-bank {
	border-radius: 4px;
	margin: 10px 4px 10px 4px;
	padding: 20px;
	background: rgb(243, 243, 243);
}

.f-question-bank h2 {
	font-family: IBM Plex Sans;
	font-weight: 700;
	font-size: 22px;
}

.f-question-bank ul {
	font: 14px/19px IBM Plex Sans;
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.f-question-bank li {
		margin-bottom: 1em;
	
}
