@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,500,700&display=swap');

:root {
	--width: 90%;
	--ntext: 15px/20px IBM Plex Sans;
	--lgrey: rgb(243, 243, 243);
	--default: rgb(47, 96, 207);
	--blue: rgb(104, 172, 225);
	--purple: rgb(141, 134, 252);
	--green: rgb(109, 222, 210);
	--red: rgb(235, 139, 140);
	--yellow: rgb(232, 179, 128);
}

@media (min-width: 1440px) {
	:root {
		--width: 60%
	}
}

@media (max-width: 1024px) {
	.tool-container .tool-phase-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.main-container .main-grid {
		/*width: 100%;*/
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.main-grid .logo-section {
		grid-column-start: 1;
		grid-column-end: 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.main-grid .about-section {
		width: 90%;
	}
	.example-container .example-text {
		width: 90%;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0;
}

.header-section {
	width: 100%;
	margin: 0;
	top: 0;
	background: rgb(47, 96, 207);
}

.header-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: var(--width);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	align-content: center;
	align-items: center;
}

.header-container h1 {
	text-decoration: none;
	color: white;
}

.header-container h1 a {
	text-decoration: none;
	color: white;
}

.header-container h1 {
	margin: 0;
	font: 20px/22px IBM Plex Sans;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

.header-links {
	display: flex;
	flex-direction: row;
}

.header-link {
	padding: 0 10px 0 10px;
}

.header-button {
	font: 15px/20px IBM Plex Sans;
	font-weight: 700;
	color: black;
	text-decoration: none;
	padding: 10px 28px;
	border-radius: 10px;
	border: none;
	background: rgb(240, 240, 240);
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.header-button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background: white;
	cursor: pointer;
}

.main-section {
	width: var(--width);
	margin-left: auto;
	margin-right: auto;
}

.main-container {
	margin-left: auto;
	margin-right: auto;
	/*width: var(--width);*/
}

.main-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/* EXAMPLE SECTION */

.example-section {
	width: var(--width);
	margin-left: auto;
	margin-right: auto;
}

.example-container {
	margin-left: auto;
	margin-right: auto;
}

.example-section p {
	font: var(--ntext);
	font-weight: 300;
	width: 100%;
}

.example-section h2 {
	font: 40px/48px IBM Plex Sans;
	font-weight: 500;
	color: black;
}

.example-text {
	width: 60%;
	padding: 0 0 0 20px;
}

.example-container img {
	width: 100%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* ABOUT SECTION */

.about-section {
	width: 70%;
	padding: 15px 15px 15px 0;
	margin: 2px;
	border-radius: 4px;
}

.about-section p {
	font: var(--ntext);
	font-weight: 300;
}

.about-section h2 {
	font: 40px/48px IBM Plex Sans;
	font-weight: 500;
	color: black;
}


/*  LOGO SECTION  */

.logo-section {
	padding: 70px 15px 15px;
	margin: 2px;
	border-radius: 4px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	align-items: center;
}

.logo {
	padding: 15px 15px 15px 0;
	/*width: 50%;*/
	margin: 2px;
}

.logo.one {
	width: 35%;
}

.logo.two {
	width: 90%;
}


/*  REFERENCE SECTION  */

.ref-section {
	padding: 15px 15px 15px 0;
	margin: 2px;
	border-radius: 4px;
}

.ref-container {

}

.ref-container h2 {
	font: 40px/48px IBM Plex Sans;
	font-weight: 500;
	color: black;
}

.ref-container ul {
	font: var(--ntext);
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.ref-container li {
	margin-bottom: 1em;
}

.ref-container a {
	text-decoration: none;
	color: black;
	font: var(--ntext);
}

.ref-container a:hover {
	text-decoration: underline;
}
