@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,500,700&display=swap');

:root {
	--width: 90%;
	--ntext: 15px/20px IBM Plex Sans;
	--lblack: #333333;
	--lgrey: rgb(243, 243, 243);
	--default: rgb(47, 96, 207);
	--blue: rgb(104, 172, 225);
	--purple: rgb(141, 134, 252);
	--green: #6BD5D3;
	--red: rgb(235, 139, 140);
	--yellow: rgb(232, 179, 128);
}

@media (min-width: 1440px) {
	:root {
		--width: 60%
	}
}

@media (max-width: 1024px) {
	.tool-container .tool-phase-grid.one {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.tool-container .tool-phase-grid.two {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.tool-container .tool-phase-grid.three {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.tool-container .tool-phase-grid.four {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.playlist-grid .playlist-text p {
		width: 100%;
	}
	
	.tool-phase .tool-phase-text {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.playlist-grid .playlist-text {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	.playlist-container .playlist-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0;
}

.header-section {
	width: 100%;
	margin: 0;
	top: 0;
	background: var(--lblack);
}
.footer-section {
	width: 100%;
	margin: 0;
	background: var(--lblack);
	padding: 0;
	bottom: 0;
}
.header-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: var(--width);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	align-content: center;
	align-items: center;
}

.header-container h1 {
	margin: 0;
	font: 20px/22px IBM Plex Sans;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.header-container p {
	font: var(--ntext);
	color: white;
	font-weight: 300;
}

.playlist-section {
	width: 100%;
	padding: 70px 0 70px 0;
}

.playlist-container {
	margin-left: auto;
	margin-right: auto;
	width: var(--width);
}

.playlist-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.playlist-text {
	padding: 15px 15px 15px 0px;
	margin: 2px;
	border-radius: 4px;
	grid-column-start: 1;
	grid-column-end: 4;
}

.playlist-text h2 {
	font: 40px/48px IBM Plex Sans;
	font-weight: 500;
	margin: 0;
}

.playlist-text p {
	font: var(--ntext);
	font-weight: 300;
	/*font-size: 17px;*/
	width: 60%;
}

.playlist {
	padding: 0px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin: 2px;
	border-radius: 4px;
	display: flex;
	align-content: space-around;
	flex-direction: column;
}

.playlist-desc {
	background: var(--lblack);
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 2px;
	margin: 5px;
}

.playlist-desc-text h2 {
	font: 18px/22px IBM Plex Sans;
	font-weight: 500;
	color: white;
}

.playlist-desc-text p {
	font: 15px/18px IBM Plex Sans;
	font-weight: 300;
	color: white;
}

.playlist-desc span {
	font-weight: 500;
}

.playlist-links {
	margin: 5px;
}

.playlist-links a {
	text-decoration: none;
	color: white;
}

.playlist-links p {
	text-decoration: none;
	color: white;
}

.playlist-links a:hover {
	text-decoration: underline;
}

.playlist-links p span {
	font: 15px/18px IBM Plex Sans;
	font-weight: 500;
	color: white;
}

.playlist-links h3 {
	font: 18px/22px IBM Plex Sans;
	font-weight: 500;
	color: white;
}

.playlist-links ol {
	font: 15px/18px IBM Plex Sans;
	font-weight: 300;
	color: white;
}

.tool-download {
	margin: 0;
	padding: 0 5px 5px;
}

.download-button {
	font: 15px/20px IBM Plex Sans;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 30px;
	font-weight: 700;
	color: black;
	text-decoration: none;
	padding: 10px 32px;
	border-style: solid;
	border-radius: 2px;
	border-width: 3px;
	border-color: var(--lblack);
	background: white;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.download-button:hover {
	background: var(--lblack);
	color: white;
	cursor: pointer;
}

.header-links {
	display: flex;
	flex-direction: row;
}

.header-link {
	padding: 0 10px 0 10px;
}

.header-button {
	font: 15px/20px IBM Plex Sans;
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: 10px 28px;
	border-radius: 5px;
	border: none;
	background: var(--lblack);
	border-style: solid;
	border-radius: 2px;
	border-color: white;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.header-button:hover {
	color: var(--lblack);
	background: white;
	cursor: pointer;
}

.tool-section {
	width: 100%;
}

.tool-section.four {
	width: 100%;
	margin-bottom: 70px;
}

.tool-container {
	margin-left: auto;
	margin-right: auto;
	width: var(--width);
}

.tool-grid {
	width: 100%;
}

.tool-text {
	width: 60%;
	/*margin-bottom: 10px;*/
}

.tool-text h1 {
	font-family: IBM Plex Sans;
	font-weight: 500;
	text-decoration: underline;
}

.tool-text p {
	font-family: IBM Plex Sans;
	font-weight: 300;
}

.tool-phase {
	width: 100%;
	margin-bottom: 0px;
	align-items: center;
	align-content: center;
	display: block;
	justify-content: center;
	border-radius: 4px;
	padding: 40px 0 70px 0;
}

.tool-phase-text {
	width: 60%;
	margin: 0 0 4px 0;
	color: black;
}

.tool-phase-text p {
	font: var(--ntext);
	font-weight: 300;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 10px;
}

.tool-phase-text h1 {
	font: 40px/48px IBM Plex Sans;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

.tool-phase-grid.one {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: var(--blue);
	border-radius: 2px;
	/*padding: 5px;*/
}

.tool-phase-grid.two {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: var(--purple);
	border-radius: 2px;
}

.tool-phase-grid.three {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: var(--green);
	border-radius: 2px;
}

.tool-phase-grid.four {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: var(--red);
	border-radius: 2px;
}

.tool-phase-grid.one a {
	background: linear-gradient(
    to bottom, white 0%,
    white 100%
  );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
	color: white;
}

.tool-phase-grid.one a:hover {
	background-size: 4px 50px;
	color: var(--blue);
}

.tool-phase-grid.one h2 {
	color: white;
}

.tool-phase-grid.two a {
	background: linear-gradient(
    to bottom, white 0%,
    white 100%
  );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
	color: white;
}

.tool-phase-grid.two a:hover {
	background-size: 4px 50px;
	color: var(--purple);
}

.tool-phase-grid.two h2 {
	color: white;
}

.tool-phase-grid.three a {
	background: linear-gradient(
    to bottom, white 0%,
    white 100%
  );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
	color: white;
}

.tool-phase-grid.three a:hover {
	background-size: 4px 50px;
	color: var(--green);
}

.tool-phase-grid.three h2 {
	color: white;
}

.tool-phase-grid.four a {
	background: linear-gradient(
    to bottom, white 0%,
    white 100%
  );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	color: #000;
	text-decoration: none;
	transition: background-size .4s;
	color: white;
}

.tool-phase-grid.four a:hover {
	background-size: 4px 50px;
	color: var(--red);
}

.tool-phase-grid.four h2 {
	color: white;
}

.tool {
	padding: 15px;
	margin: 4px;
}

.tool h2 {
	font: 15px/20px IBM Plex Sans;
	font-weight: 500;
	margin: 0;
	color: white;
}

.tool p {
	color: white;
	font: var(--ntext);
}

.tool a {
	font-family: IBM Plex Sans;
	font-weight: 300;
	margin: 0;
	text-decoration: underline;
	color: white;
}

.ref-container {
	margin-left: auto;
	margin-right: auto;
	width: var(--width);
	margin-bottom: 80px;
}

.ref-container h2 {
	font: 40px/48px IBM Plex Sans;
	font-weight: 500;
	color: black;
}

.ref-container ul {
	font: var(--ntext);
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.ref-container li {
	margin-bottom: 1em;
}

.ref-container a {
	text-decoration: none;
	color: black;
	font: var(--ntext);
}

.ref-container a:hover {
	text-decoration: underline;
}
